*{
    background-color: beige;
}
h1, p,h3{
    justify-self: center;
}
.btn{
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #2563eb;
    color:#ffffff;
    border: none;
    display: block;
    margin: 0 auto;
}
#result{
    color: #032673;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.label{
    padding-left: 400px;
}